@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

body {
    font-family: 'Inria Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.button
{
    font-weight: 400;
    color: #ffffff;
    font-weight: bold;
    background-color:#4e75d0 !important;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;

}

.productimage {
    width: 100vw;
    height: 200px;
    object-fit: contain;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination li a {
    color: #007BFF;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
  }
  
  .pagination li a:hover {
    background-color: #007BFF;
    color: #fff;
  }
  
  .pagination li.active a {
    background-color: #007BFF;
    color: #fff;
  }
  
  .pagination li.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
  
  .pagination li.prev,
  .pagination li.next {
    font-weight: bold;
  }
  .pagination .ellipsis {
    margin: 0 5px;
    padding: 5px;
    pointer-events: none;
  }
  
  .pagination .ellipsis span {
    font-size: 20px;
  }
  .shortdes{
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  }